In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [5]:
dataset=pd.read_parquet(r'D:\DATASET\MYANIMELIST DATASET\df_pairs.parquet')
dataset_2=pd.read_parquet(r'D:\DATASET\MYANIMELIST DATASET\df_shows.parquet')
dataset_2.head()

       country  year   kind                 title    sid
0  South Korea  2019  Drama     Melting Me Softly  25652
1  South Korea  2021  Drama              Snowdrop  33603
2  South Korea  2020  Drama  365: Repeat the Year  29824
3  South Korea  2019  Drama             Big Issue  24045
4  South Korea  2019  Drama       Graceful Family  25688

In [12]:
jp_data=dataset_2[dataset_2['country']=='Japan']

In [ ]:
jp_data.to_csv('japan.csv')